body {
  background: white;
}

.Panel-1, .Panel-2, .Panel-3 {
  width: 80%;
  display: inline-block;
}

.Panel-1 {
  margin: 10% 0%;
}

.Panel-2 {
  margin-top: 10%;
  margin-bottom: 2%;
}

.Panel-3 {
  margin-top: 2%;
  margin-bottom: 10%;
}


.left-sides {
  width: 35%;
  float: left;
  margin-left: 10%;
  margin-right: 60px;
}

.right-sides {
  width: 35%;
  float: right;
  margin-left: 60px;
}

.App-section1 {
  height: 50%;
}

.App-section2 {
  background: linear-gradient(#111, #999);
  color: white;
}

@media only screen and (max-width: 1200px) {
  .left-sides {
    float: none;
    width: 100%;
    padding: 0;
    margin: 5px;
  }

  .image {
    text-align: center;
    margin: 3em 0em;
  }
  
  .right-sides {
    float: none;
    width: 100%;
    padding: 0;
    margin: 5px;
  }

  .Panel-1, .Panel-2, .Panel-3 {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 600px) {
  img {
    width: 95%;
    margin: 0;
  }

  .left-sides, .right-sides {
    float: none;
    margin: 0;
    width: 95% !important;
  }
}